header {
  .navbar-brand {
    padding-top: 0;
  }

  .logo {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
    }
  }
}


  div {
  }
  ul.navbar-nav {
    list-style: none;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    float: none;
    li {
      &:nth-of-type(2) {
        margin-top: 20px;
      }
      & :first-child {
        padding-left:10px;
      }
      a {
        text-decoration:none;
        float:left;
        padding: 0 15px;
        text-align:center;
        white-space:nowrap;
        text-shadow: 1px 1px 1px $font-color--light;
        &:hover,
        &:focus  {
          color: $orange-bright;
          transition-duration: 0.5s;
        }
        span {
          display: block;
        }
      }
    }
  }


.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../images/profile.gif');
}

.highlight {
  .hero-image {
    width: 145px;
    img {
      width: 145px;
    }
    margin-left: auto;
    margin-right: auto;
  }
  .social-icons {
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    ul {
      list-style: none;
      padding-left:0;
      li {
        float: left;
        padding: 0 1em;
        i {
          font-size: 1.5em;
        }
      }
    }
  }
}
